body {
     background: url("../../static/images/hintWishPage/background.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#backBtnImg {
	max-height: 200px;
	max-width: 200px;
}
#dice {
	max-height: 100px;
}