body {
     background: url("../images/rUserPage/background.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#back, #front {
    opacity: 1;
    position: absolute;
    top:0;
    right:0;
    left:0;
}
.btn-primary-outline {
  background-color: transparent;
}

.backBtn {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

#giftieButton {
  max-height: 400px;
  max-width: 400px;
}

#list {
    top: 10%;
    position:absolute;
    z-index: 1;
    margin-top: 80px;
    margin-left: 0px;
}

#backBtnImg {
    max-height: 200px;
    max-width: 200px;
}
table, th, td {
    border: 1px solid white;
    color: white;
}

#table_container {
    width:300px;
    margin:0 auto;
}