html{
    font-family: 'Righteous', cursive;
}
body {
    background: url("../images/rUserPage/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#back, #front {
    opacity: 1;
    position: absolute;
    top:0;
    right:0;
    left:0;
}
.btn-primary-outline {
    background-color: transparent;
}

.backBtn {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

#backBtnImg {
    max-height: 150px;
    max-width: 150px;
}

#giftieButton {
    max-height: 400px;
    max-width: 400px;
}

#list {
    top: 10%;
    position:absolute;
    z-index: 1;
    margin-top: 80px;
    margin-left: 0px;
}
#demo2{
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;

}
h2{
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
#backBtnImg {
    max-height: 200px;
    max-width: 200px;
}

#table_container {

   max-width:400px;
    margin:10px auto;
}

.categoriesTable{
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}
table {
    color: white;
}

th {
    font-size: 25px;
    font-weight: bolder;
}