html{
     font-family: 'Righteous', cursive ;
     color:#FFFFFF;
}

body{
     background: url("../images/adminPage/adminPage_BG.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#registrationTimer, #giftTimer, #maxGiftPrice{
	  width: 100%;
    min-height: 300px;
    background: url("../images/adminPage/table.png"); 
    background-repeat: no-repeat; 
    background-size: contain; 
    display: block;
}
/*TODO*/
.selectTransparent{
  /*background-color: transparent !important;*/
  align-self: center;
}
h3{
  text-transform: uppercase;
}