<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>giftie</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">
	
	<link rel="stylesheet" href="../../resources/static/css/Giftie.css">

    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">

</head>
<body class="container-fluid">
	<div class="row">
		<!--  -->
	    <div class="col-sm-8 text-center">
	    	<!-- Time left to gift day -->
	    	<figure>
	          <img src="../../resources/static/images/giftiePage/top.png" class="img-fluid animateTopSideImg"  alt="top desk">
	          <img src="../../resources/static/images/giftiePage/giftieTop.png" class="img-fluid animateTopSideImg"  alt="top desk">
	        </figure>
	        <!-- GIFT HINT & WISH HINT -->
	        <figure>
	        	<button class="btn btn-default">
	        		<img src="../../resources/static/images/giftiePage/giftHint.png" class="img-fluid animateTopSideImg" id="hint"  alt="top desk">
	        	</button>
	        	<button class="btn btn-default">
	        		<img src="../../resources/static/images/giftiePage/wishHint.png" class="img-fluid animateTopSideImg" id="hint"  alt="top desk">
	        	</button>
	        </figure>
	    </div>
	    <!-- BLACK BOARD -->
	    <div class="col-sm-4">
			<figure>
	          <img id="blackBoard" src="../../resources/static/images/giftiePage/blackBoard.png" class="img-fluid animateTopSideImg"  alt="top desk">
	        </figure>
	    </div>
	</div>
	<!-- BACK button -->
	<div class="fixed-bottom">
		<button class="btn btn-primary-outline" type="button" class="btn btn-primary-outline">
			<img class="img-fluid" id="backBtnImg" src="../../resources/static/images/nrUserPage/backBtn.png" alt="back btn">
		</button>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../static/node_modules/bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="../static/js/ScreenAdmin.js"></script>

</body>
</html>