<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giftee</title>
	<link rel="icon" href="../images/tab_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="/css/Giftee.css">
</head>
<body class="container-fluid">
<!-- FIRST ROW -->
	<div class="row">
	    <div class="col-sm-12 text-center">
	    	<!-- Time left to gift day -->
	    	<figure>
	          <img src="../images/giftiePage/giftieTop.png" class="img-fluid animateTopSideImg topImg"  alt="top desk">
				<p th:value="${gifteeName}" class="gifteeName"></p>
	        </figure>
	    </div>
		<!--CLOSING FIRST ROW -->
	</div>


<!-- SECOND ROW -->
<div class="row">
<!-- BLACK BOARD -->
<div class="col-sm-12 col-md-6">

</div>
	<!-- GIFT HINT & WISH HINT -->
	<div class="col-sm-12 col-md-6">
		<div class="row">

			<div class="col-sm-12">
			<button class="btn btn-default">
				<figure>
				<img src="../images/giftiePage/giftHint.png" class="img-fluid animateTopSideImg hint"  alt="top desk">
				</figure>
			</button>

			</div>

			<div class="col-sm-12">

			<button class="btn btn-default">
				<figure>
				<img src="../images/giftiePage/wishHint.png" class="img-fluid animateTopSideImg hint"   alt="top desk">
				</figure>
			</button>

			</div>

		</div>

	</div>
	<!--CLOSING SECOND ROW -->
</div>





	<!-- BACK button -->
	<div class="fixed-bottom">
		<button class="btn btn-primary-outline" type="button">
			<img class="img-fluid" id="backBtnImg" src="../images/nrUserPage/backBtn.png" alt="back btn">
		</button>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</body>
</html>