<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="icon" href="../images/tab_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/ScreenAdmin.css">
 <link href="https://fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">

    <title>Secret Santa - Admin</title>
</head>
<body class="container-fluid">
<!-- FIRST ROW -->
<div id="topOfIndex" class="row">
    <!--TODO: make the real paths-->
    <div class="col-sm-12 d-flex justify-content-center">
        <figure>
            <img src="../images/adminPage/topOfAdmin.png" class="img-fluid animateTopSideImg" alt="top desk">
        </figure>
      </div>
      <!-- CLOSING FIRST ROW -->
    </div>

    <!-- SECOND ROW -->
    <div class="row">

<div class="col-12 d-flex justify-content-center">

  <div class="row">
      <!-- SET REGISTRATION TIMER FORM -->
      <form action="" method="GET" class="col-sm-12 col-md-6 col-lg-4 mt-3 mb-3" id="registrationTimer">
<div class="formsInnerContent">

  <h4>Set registration timer</h4>
            <div class="form-group">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input textField" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text calendar"><i class="fa fa-calendar"></i></div>
                </div>
              </div>

          <button type="submit" name="submitRegistrationTimer"  class="submitBtns">Submit</button>
        </div>
</div>
  <!--CLOSING SET REGISTRATION TIMER FORM -->
      </form>


      <!-- SET GIFT TIMER FORM -->
      <form action="" method="GET" class="col-sm-12 col-md-6 col-lg-4 mt-3 mb-3" id="giftTimer">

          <div class="formsInnerContent">

              <h4>Set christmas party day</h4>
              <div class="form-group">
                  <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input textField" data-target="#datetimepicker2"/>
                      <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                          <div class="input-group-text calendar"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>

                  <button type="submit" name="submitRegistrationTimer"  class="submitBtns">Submit</button>
              </div>
          </div>
          <!--CLOSING SET GIFT TIMER FORM -->
      </form>

      <!-- SET GIFT PRICE FORM -->
      <form action="" method="GET" class="col-sm-12 col-md-6 col-lg-4 mt-3 mb-3" id="maxGiftPrice">
      <div class="formsInnerContent">
        <h4>Set max price of a gift</h4>
            <div class="input-group">
              <input type="number" min="1" max="100" placeholder="max value 100" class="form-control textFieldPrice" required="required" aria-label="">
              <div class="input-group-append">
                <span class="input-group-text dollar">$</span>
              </div>
        </div>
        <button type="submit" name="submitPrice" class="submitBtns">Submit</button>

      </div>

        <!--CLOSING SET GIFT PRICE FORM -->

      </form>
  </div>
</div>
      <!-- CLOSING SECOND ROW -->
    </div>

    <!-- THIRD ROW -->
<div class="row">
  <div class="col-12 mt-3 mb-3">
      <form action="#" th:action="@{/}" th:object="${search}">
          <h2>Searching for user</h2>
          <div class="row no-gutters">
              <div class="col">
                  <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="" id="search" name="search" >
              </div>
              <div class="col-auto">
                  <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
                      <i class="fa fa-close"></i>
                  </button>
              </div>
              <div class="col-auto">
                  <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>
      </form>

      <div th:if="${not #lists.isEmpty(search)}">
          <h4>Search Results</h4>
          <table>
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Family Name</th>
                  <th>Is registered</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="search : ${search}">
                  <td th:text="${search.id}">Text ...</td>
                  <td th:text="${search.email}">Text ...</td>
                  <td th:text="${search.username}">Text ...</td>
                  <td th:text="${search.name}">Text ...</td>
                  <td th:text="${search.familyName}">Text ...</td>
                  <td th:text="${search.isRegistered}">Text...</td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="./node_modules/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="./js/ScreenAdmin.js"></script>
  </body>
</html>